fastapi
uvicorn[standard]
scikit-learn
pandas
SQLAlchemy
python-multipart
python-jose[cryptography]
bcrypt
python-dotenv
google-genai
langchain-google-genai
langchain-groq
langchain-core
elevenlabs
charset-normalizer
requests
psycopg2-binary
